<div class="container">
  <h1>Welcome to my website!</h1>
  <div class="p-3 mb-2 bg-info text-white">Welcome, friends. My interests include reading science fiction and programming in Ruby!</div>
  <div class="p-3 mb-2 bg-dark text-white">Below, see a link to all posts in my blog!</div>
  <div class="p-3 mb-2 bg-info text-white">I also enjoy Math, long walks around the city, and coffee</div>
  <p><l1><a href="/posts">All Posts</a></li></p>
</div>


